/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 10px;
    }
#wrapper{
    
    background-color: silver;
    margin: 10px ;
    padding: 10px;
   }
#header{
    min-height: 150px;
    background-color: green;
    margin: 10px;
    
   }
#navigation{
    
    min-height:200px;
    width: 200px;
    background-color: blue;
    margin: 10px;
    display: inline-block;
   }
#main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    
    
    
   }
.subcontents{
    min-height: 200px;
    width: 190px;
    background-color: yellow;
    display: inline-block;
   }
#advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    
   }
   